@import './_variables';

table {
    border-collapse: collapse;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 2em;
    margin: auto;
    width: 80%;
    text-align: left;

    th, td {
      padding: 14px;
    }
    tr:nth-child(even) {
        background-color: $primary-color;
    }

    tr:nth-child(odd)  {
      color: black;
      background-color: $lt-gray;

    }

    th {
      background-color: $dk-gray;
      color: white;
    }

    a { 
      color: black;
      text-decoration: none;
    }
}

