table {
    border-collapse: collapse;
    // border: 2px solid rebeccapurple;
    padding: 2em;
    margin: auto;

    // tr {
    // border: 2px solid rebeccapurple;

    //     th{
    //         padding: 0em;
    //     }
        
    // }

    th, td {
        padding: 15px;
        text-align: left;
      }
}